html, body{
  margin: 0;
  padding: 0;

}
.homeContainer{
  height: 100vh;
  overflow:auto;
  background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inner-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-div{
  display: flex;
  padding-left: 0;
  
}
ul{
  padding: 1px;
}
.todo-div li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  width: 95vw;          
   margin: 5px 8px;
  padding: 10px 0;  
  background-color: rgb(193, 240, 255);
  
  

}

.todo-text {
  color: rgb(1, 45, 108);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: clamp(15px, 3vw, 19px);
  flex: 4;              
  min-width: 100px;    
  word-wrap: break-word;
  padding: 0 10px 0 10px; 
  font-weight:400;
}

.todo-time {
  color: rgb(1, 45, 108);

  flex: 3;              
  font-size: clamp(8px, 3vw, 18px);
  text-align: right;    
  min-width: 80px;      
}

.todo-icons {
  flex: 1;              
  text-align: center;
  min-width: 100px;     
}

.main p{
  color: #002963;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: clamp(20px, 7vw, 35px);
  font-weight: bold;
}